<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}-{{ config['SECRET_KEY'] }}博客</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>

<body>
    <nav>
        <h1>Flaskr</h1>
        <ul>
            {% if g.user %}
            <li><span>{{ g.user['username'] }}</span>
            <li><a href="{{ url_for('user.logout') }}">Log Out</a>
                {% else %}
            <li><a href="{{ url_for('user.register') }}">Register</a>
            <li><a href="{{ url_for('user.login') }}">Log In</a>
                {% endif %}
        </ul>
    </nav>
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>

</body>

</html>